.actual-page__filters {
  display: flex;
  flex-flow: column wrap;
  gap: 33px;
  margin-top: 30px;
}

.actual-page__filters-search {
  position: relative;
  width: 280px;
}

.actual-page__filters-search__button {
  position: absolute;
  right: 5px;
  top: 3px;
  background: none;
  border: none;
}

.filters-search__input {
  width: 100%;
  padding: 10px 35px 10px 15px;
  border: none;
  border-radius: 15px;
  background: #ffffff;
  font-family: var(--font);
  font-weight: 300;
  font-size: 16px;
  color: #474747;
  outline: none;
}

.actual-page__filters-list {
  width: 280px;
  height: max-content;
  padding: 10px;
  display: flex;
  flex-flow: column wrap;
  background: #fff;
  border-radius: 15px;
}

.filters-list__title {
  position: relative;
  font-family: var(--font);
  font-weight: 400;
  font-size: 20px;
  color: #474747;
  text-align: center;
  width: 100%;
  margin-bottom: 20px;

  &::after {
    position: absolute;
    bottom: -8px;
    left: 25px;
    content: '';
    width: calc(100% - 50px);
    height: 1px;
    background: #474747;
  }
}

.filters-list__button {
  width: 100%;
  padding: 10px 25px;
  display: flex;
  align-items: center;
  gap: 10px;
  background: none;
  border: none;
  border-radius: 15px;
  font-family: var(--font);
  font-weight: 400;
  font-size: 20px;
  color: #474747;
  cursor: pointer;

  &:hover {
    background: rgba($color: #474747, $alpha: 0.2);
  }
}