.our-potential {
  position: relative;
  width: 100%;
  height: 600px;
  overflow: hidden;
}

.our-potential__wrapper {
  max-width: 1920px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 0.5fr 1fr;

  > .decoration-people {
    grid-column: 2 / 3;
    transform: scale(0.7);
    position: relative;
    top: -150px;
  }
}

.our-potential__block {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: rgba($color: #fff, $alpha: 0.3);
  display: grid;
  grid-template-columns: 1.5fr 2fr;
  justify-items: end;
}