.role-item {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.role-item__image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: #ffffff;
  box-shadow: 0px 4px 8px rgba(255, 255, 255, 0.51);
  display: flex;
  align-items: center;
  justify-content: center;
}

.role-item__text {
  font-family: var(--font);
  font-size: 24px;
  font-weight: 300;
  text-transform: lowercase;
  color: #fff;
}