.actual-page__post {
  width: 90%;
  padding: 25px 50px;
  border-radius: 33px;
  background: #ffffff;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-bottom: 50px;
}

.actual-page__post-title {
  font-family: var(--font);
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 56px;
  color: var(--main-red);
  text-align: center;
}

.actual-page__text {
  font-family: var(--font);
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  color: #373737;
}

.actual-page__images {
  width: 100%;
}