.decoration-banner {
  position: relative;
  width: 100%;
  min-height: 500px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
}

.decoration-banner__wrapper {
  position: relative;
  z-index: 1;
  margin: auto;
  max-width: inherit;
  min-height: inherit;
}

.decoration-banner__arrow {
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translate(0, -50%);
  font-size: 30px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  color: rgba(55, 55, 55, 1);
  background-color:rgba(217, 217, 217, 0.25);
  cursor: pointer;
  transition: all 0.6s ease-in-out;
  user-select: none;
    
  &-left {
    left: 50px;
  }
  &-right {
    right: 50px;
  }
}

.decoration-banner__dots {
  position: absolute;
  bottom: 46px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 33px;
  list-style-type: none;
  width: 100%;
}

.decoration-banner__dot {
  width: 24px;
  height: 24px;
  border: none;
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
}

.decoration-banner__slides {
  width: 100%;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-start;
  flex-flow: row nowrap;
  min-height: 100%;
  transition: all 0.5s ease-in-out;
}

.decoration-banner__slide {
  min-width: 100%;
  min-height: inherit;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}