.home-page {
  padding-bottom: 30px;
}

.home-page__separator {
  position: relative;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  padding: 20px 0 0;

  > .decoration-arrow__block .decoration-arrow img {    
    width: 30px;
  }
}