.form {
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  background: rgba($color: #ffffff, $alpha: 0.5);
  display: flex;
  flex-flow: column wrap;
  gap: 10px;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;

  & > .page-title {
    width: 100%;
    margin-bottom: 25px;
    background: #ffff;
    color: #000000;
  }

  > .loading-icon {
    width: 30px;
    height: 30px;
    margin-top: 0;
  }
}

.form__button {
  padding: 5px 10px;
  margin: 10px 0 0;
  background: var(--main-blue);
  border: 1px solid var(--main-blue);
  border-radius: 3px;
  font-family: var(--font);
  font-size: 16px;
  color: #fff;
  transition: all 0.2s linear;

  &:hover {
    background: #0c41a3;
  }
}