.cooperation-page {
  position: relative;
  width: 100%;
  padding: 50px 0;
  background: var(--main-blue);
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.cooperation-page__wrapper {
  position: relative;
  width: 1000px;
  overflow: hidden;
}