.contact-slide {
  position: relative;
  z-index: 1;
  width: 690px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  > img {
    width: 153px;
    border-radius: 50%;
    margin-bottom: 20px;
  }

  > h2 {
    font-family: var(--font);
    font-weight: 400;
    font-size: 32px;
    letter-spacing: 0.05em;                      
    color: #072A6D;
  }

  > p {
    font-family: var(--font);
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.05em;                      
    color: #072A6D;
  }
}
 