.post-image-slider {
  > .decoration-banner__wrapper > .decoration-banner__arrow {
    width: 50px;
    height: 50px;
    background: rgba($color: #ffffff, $alpha: 0.7);
      
    &-left {
      left: 10px;
    }
    &-right {
      right: 10px;
    }

    &:disabled {
      opacity: 0.1;
      cursor: auto;
    }

    &:not(:disabled) {
      cursor: pointer;
    }
  }
}