.our-team {
  position: relative;
  padding-top: 40px;
  width: 100%;
  height: max-content;
  overflow: hidden;
}

.our-team__wrapper {
  max-width: 1920px;
  margin: 0 auto;
  
  > .page-title {
    color: #000;
  }
}

.our-team__buttons-container {
  padding: 3px;
  width: max-content;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 20px;
  background: #072A6D;
  border-radius: 40px;
}

.our-team__button {
  padding: 10px 0;
  width: 250px;
  border: none;
  border-radius: 40px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 24px;
  color: #fff;
  background: #072A6D;

  &:disabled {
    color: #474747;
    background: #fff;
  }

  &:not(:disabled) {
    cursor: pointer;
  }
}

.our-team__text {
  padding: 20px 264px 50px;
  font-family: var(--font);
  font-weight: 300;
  font-size: 24px;
  color: #474747;
  text-align: center;
}