.carousel {
  width: 100%;
  height: max-content;
  border: 1px solid #000;
}

.carousel__wrapper {
  position: relative;
  width: 320px;
  height: 320px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.team-slide {
  position: absolute;
  width: 200px;
  height: 200px;
  transition: all 0.5s ease-in-out;
  text-align: center;
}

.team-slide__image {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  border: 1px solid rgba($color: #000000, $alpha: 0.1);
  border-radius: 25px;
}