.header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
}

.header__links {
  display: flex;
  flex-flow: row wrap;
  gap: 50px;
}

.header__link {
  position: relative;
  font-family: var(--font);
  font-weight: 350;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  color: #474747;

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1.5px;
    bottom: 0;
    left: 0;
    background-color: #474747;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  &:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  &.header__link-active::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1.5px;
    bottom: 0;
    left: 0;
    background-color: #474747;
    transform: scaleX(1);
  }
}

.header__login {
  padding: 10px 20px;
  border: 1px solid rgba($color: #000000, $alpha: 0.2);
  border-radius: 5px;
  background: none;
  cursor: pointer;
  font-family: var(--font);
  font-weight: 350;
  font-size: 20px;
  transition: all linear 0.1s;

  &:hover {
    background: rgba($color: #000000, $alpha: 0.2);
  }
}