.footer {
  width: 100%;
}

.footer__wrapper {
  max-width: 1920px;
  margin: 0 auto;
  height: max-content;
  padding: 15px 35px 10px;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}

.footer__icons {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  gap: 10px;
}

.footer__icons-wrapper {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 15px;
}

.footer__icons-wrapper__image {
  height: 30px;
}

.footer__contacts {
  justify-self: center;
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  gap: 10px;
}

.footer__contacts-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 20px;
}

.footer__contacts-text {
  font-family: var(--font);
  font-weight: 300;
  font-size: 30px;
  color: var(--main-blue);
  text-decoration: none;
  text-align: center;
}

.footer__contacts-text-small {
  font-size: 26px;  
  display: flex;
  align-items: center;
  gap: 5px;

  > img {
    width: 46px;
    height: 46px;
  }
}