.address-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  > p {
    font-family: var(--font);
    font-weight: 300;
    font-size: 24px;
    line-height: 171.69%;
    color: #FFFFFF;
    text-align: center;
    max-width: 90%;
  }
}